body {
  font-family: "Andale Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo h1 {
  color: #333333;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline;
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333333;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.project-section {
  padding: 60px 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.project-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-item {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.project-icons i {
  font-size: 2rem;
}

.project-item h3 {
  font-size: 1.5rem;
  color: #0078d7;
  margin-bottom: 10px;
}

.project-item p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.project-item a {
  font-size: 1rem;
  color: #0078d7;
  text-decoration: none;
  border: 1px solid #0078d7;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.project-item a:hover {
  background-color: #0078d7;
  color: white;
}

.tools {
    flex-direction: row;
    margin-bottom: 20px;
}


img {
  vertical-align: middle;
  width: 25%;
  height: 50%;
  pointer-events: none;
}

section {
  padding: 50px 0;
}

.container h2 {
  color: #333333;
}

.container p {
  color: #666666;
}

.container div {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
}

.container div i {
  margin-right: 10px; /* Adjust as needed */
}

.social-links {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 20px;
}

.social-links a {
  color: #333333;
  text-decoration: none;
  margin-left: 5px; /* Adjust spacing between icons */
}

.social-links a:hover {
  color: #007bff; /* Change color on hover if desired */
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .project-section {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Set to one column for smaller screens */
  }
}
